.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.main{
  order: 2;
}
.App > * {
  padding: 10px;
  flex: 1 100%;
}
footer{
  order:3;
}
header nav{
  /* background-color: #282c34; */
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
  top:0px;
}
nav ul {
  display: flex;
  justify-content:flex-end;
  list-style:none;
}
header a {
  color: blueviolet;
  font-size: calc(10px + 2vmin);
  text-decoration: none;
}
header span {
  display: inline-block;
    zoom: 1;
    width: 10px;
    height: 15px;
    margin: 0px;
    background-image: url(/images/ui/nav/separator.png);
    background-position: center center;
    background-size: 10px 15px;
    background-repeat: no-repeat;
    margin-bottom: 6px;
    /* position: relative; */
    display: inline-block;
    -webkit-backface-visibility: hidden;
    vertical-align: middle;
    padding-bottom: 6px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
